:root {
  --font-colour: #fff;
  --bg-colour: #1a1818;
  --link-colour: #53da45;
  --hover-link-colour: #33e5ff;

  --light-font-color:#222222;
  --light-bg-color: #ffffff;
  --light-link-color: #d62b2b;

}


body.light-mode {
  background-color: var(--light-bg-color);
  color: var(--light-font-color);
}

body.light-mode a {
  color: var(--light-link-color);
}


body.light-mode i {
  color:var(--light-font-color);
}



html {
  margin-top: 30px;
  margin-left: calc(20px + 4vw);
  margin-right: calc(20px + 4vw);
  padding: 0;
}
canvas {
  display: block;
}

header {
  text-align:right;
}

body {
  background-color: var(--bg-colour);
  color: var(--font-colour);

}


a {
  color: var(--link-colour);
}

a i{
  color:var(--link-colour);
}

a:hover{
  color:var(--hover-link-colour);
}




p {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size:4rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size:1.5rem;
}

i {
  font-size:50px;
  color:var(--font-colour);
  padding:4px;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.btn {
  display: inline-block;
  background: transparent;
  color: var(--link-colour);
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.btn i {
  box-shadow: none;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.projects {
  display: block;
  margin-top: 2rem;
}

img.img--workout { width: 600px; height: auto; }
img.img--smooth { width: 600px; height: auto; }
img.img--misty { width: 1000px; height: auto; }
img.img--blend { width: 600px; height: auto; }
img.img--edge { width: 1000px; height: auto; }
img.img--colour { width: 150px; height: auto; }
img.img--ransac { width: 400px; height: auto; }
img.img--earthquake { width: 500px; height: auto; }
img.img--balls { width: 400px; height: auto; }
img.img--doodle { width: 200px; height: auto; }

@media (max-width: 700px) {
  img.img--misty,
  img.img--blend,
  img.img--edge,
  img.img--colour,
  img.img--earthquake,
  img.img--balls,
  img.img--doodle,  
  img.img--smooth,
  img.img--workout,
  img.img--ransac {
    width: 100% !important;
    height: auto !important;
  }
}

